.column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.profileNavigation{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.profileNavigation li{
    width: 100%;
    padding: 1rem 0;
}
.marginAndOpacity{
    margin-top: 4rem;
    opacity: 0.5;
}
.pointer{
    cursor: pointer;
}